.nav {
  z-index: 1;
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 500ms;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 10px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 10px;
  width: 30px;
  object-fit: contain;
}
